<!DOCTYPE html>
<html>
<head>
<title>板倉　宙士</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
</head>
<body>

<div class="w3-top">
<div class="w3-bar w3-theme-d2 w3-left-align">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
    <a href="../../index.html" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
    <a href="../lab.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Lab</a>
    <a href="../member.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Member</a>
    <a href="http://192.168.0.219" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Blog(Lab only)</a>
</div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="../../images/member3/IMG_8405.JPG" alt="Hamburger Catering" width="1600" height="800">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../../images/member3/2.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750" style="padding-top: 1rem; padding-bottom: 1rem;">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">空気吸い込み式MPDスラスタの多目的最適化に関する研究</h1><br>
      <h5 class="w3-center">Tradition since 2023 <br>板倉　宙士</h5>
      <p class="w3-large"><span class="w3-tag w3-light-grey">Keyword</span>電気推進ロケット、電磁流体シミュレーション、MPDスラスター、低軌道ミッション、宇宙エレベータ</p>
      <p class="w3-large w3-text-grey w3-hide-medium">MPDスラスタは、電磁力を推進力として利用する革新的な推進手段です。この推進手法を応用し、吸い込んだ空気を推進剤とする「空気吸い込み式MPDスラスタ」に関する研究を行っています。この技術の特長は、推進剤を必要としないため、人工衛星の軽量化に非常に有効です。しかし、エンジン内部での現象が未だ明らかになっておらず、研究には莫大なコストと時間がかかるという課題があります。
        そこで、私の研究では直径3cmの超小型スラスタを製作し、このスラスタを用いて実験とシミュレーションを実施しています。実験とシミュレーションから得られたフィードバックを活用することで、低コストな研究条件下でスラスタの内部現象を解明することに取り組んでいます。最終的には、実機スラスタの開発を見据えた最適化手法を含む設計ツールの開発を目標としています。</p>
    </div>
  </div>
</body>
</html>
