<!DOCTYPE html>
<html>
<head>
<title>Lab Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body id="myPage">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="../index.html" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
  <a href="lab.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Lab</a>
  <a href="member.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Member</a>
  <a href="http://192.168.0.219" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Blog(Lab only)</a>
 </div>
</div>

<!-- Image Header -->
<div style="background-image: url('../images/Lab/100.jpg'); background-repeat: no-repeat; background-size: 300rem 100rem;">
  <div class="w3-display-container w3-animate-opacity" style="padding-top: 10rem;">
    <img class="mySlides w3-animate-fading" src="../images/img1-1600.jpg" style="width:60%;min-height:350px;max-height:600px;margin-left: auto;margin-right: auto;">
    <img class="mySlides w3-animate-fading" src="../images/img2-1600.jpg" style="width:60%;min-height:350px;max-height:600px;margin-left: auto;margin-right: auto;">
    <img class="mySlides w3-animate-fading" src="../images/img3-1600.jpg" style="width:60%;min-height:350px;max-height:600px;margin-left: auto;margin-right: auto;">
    <img class="mySlides w3-animate-fading" src="../images/img4-1600.jpg" style="width:60%;min-height:350px;max-height:600px;margin-left: auto;margin-right: auto;">
    <img class="mySlides w3-animate-fading" src="../images/img5-1600.jpg" style="width:60%;min-height:350px;max-height:600px;margin-left: auto;margin-right: auto;">
    <img class="mySlides w3-animate-fading" src="../images/img6-1600.jpg" style="width:60%;min-height:350px;max-height:600px;margin-left: auto;margin-right: auto;">
    <img class="mySlides w3-animate-fading" src="../images/img7-1600.jpg" style="width:60%;min-height:350px;max-height:600px;margin-left: auto;margin-right: auto;">
    <img class="mySlides w3-animate-fading" src="../images/img8-1600.jpg" style="width:60%;min-height:350px;max-height:600px;margin-left: auto;margin-right: auto;">
    <img class="mySlides w3-animate-fading" src="../images/img9-1600.jpg" style="width:60%;min-height:350px;max-height:600px;margin-left: auto;margin-right: auto;">
    <img class="mySlides w3-animate-fading" src="../images/img10-1600.jpg" style="width:60%;min-height:350px;max-height:600px;margin-left: auto;margin-right: auto;">
    <img class="mySlides w3-animate-fading" src="../images/img11-1600.jpg" style="width:60%;min-height:350px;max-height:600px;margin-left: auto;margin-right: auto;">
    <img class="mySlides w3-animate-fading" src="../images/img12-1600.jpg" style="width:60%;min-height:350px;max-height:600px;margin-left: auto;margin-right: auto;">
    <img class="mySlides w3-animate-fading" src="../images/img13-1600.jpg" style="width:60%;min-height:350px;max-height:600px;margin-left: auto;margin-right: auto;">
    <img class="mySlides w3-animate-fading" src="../images/img14-1600.jpg" style="width:60%;min-height:350px;max-height:600px;margin-left: auto;margin-right: auto;">
    <img class="mySlides w3-animate-fading" src="../images/img15-1600.jpg" style="width:60%;min-height:350px;max-height:600px;margin-left: auto;margin-right: auto;">
    <img class="mySlides w3-animate-fading" src="../images/img16-1600.jpg" style="width:60%;min-height:350px;max-height:600px;margin-left: auto;margin-right: auto;">
    <img class="mySlides w3-animate-fading" src="../images/img17-1600.jpg" style="width:60%;min-height:350px;max-height:600px;margin-left: auto;margin-right: auto;">
    <img class="mySlides w3-animate-fading" src="../images/img18-1600.jpg" style="width:60%;min-height:350px;max-height:600px;margin-left: auto;margin-right: auto;">
    <img class="mySlides w3-animate-fading" src="../images/img19-1600.jpg" style="width:60%;min-height:350px;max-height:600px;margin-left: auto;margin-right: auto;">
    <img class="mySlides w3-animate-fading" src="../images/img20-1600.jpg" style="width:60%;min-height:350px;max-height:600px;margin-left: auto;margin-right: auto;">
    <img class="mySlides w3-animate-fading" src="../images/img21-1600.jpg" style="width:60%;min-height:350px;max-height:600px;margin-left: auto;margin-right: auto;">
    <h1 style="text-align: center; font-size: 10rem;">森合研究室</h1>
  </div>
</div>

<!-- Study Row -->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">

<div class="w3-quarter" style="float: left; width: 90%; padding: 20px;">
<h2>研究内容</h2>
<p>地上からアルファ・ケンタウリに至る究極のエンジンを！ ～ジェットエンジンから深宇宙推進エンジンまで～</p>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white" style="margin-top: 10px;">
    <a href="Study/study1.html">
    <img src="../images/Teacher/1.png" style="width:100%;height: 20rem;">
    </a>
    <div class="w3-container">
    <h3>航空宇宙エンジンの可視化・現象メカニズムの研究</h3>
    <h4>森合　秀樹</h4>
    <h5>ロケットエンジン、プラズマエンジン、ジェットエンジン、流れの可視化・現象メカニズム解明、流れの最適化・最高性能</h>
    </div>
    </div>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white" style="margin-top: 10px;">
    <a href="Study/study2.html">
    <img src="../images/member2/1.png" style="width:100%;height: 20rem;">
    </a>
    <div class="w3-container">
    <h3>スクラムジェットエンジンにおけるキャビティ保炎器流れ場の低コスト予測に関する研究</h3>
    <h4>井口　小太郎</h4>
    <h5>スクラムジェットエンジン、保炎器、燃焼、LES、シュリーレン</h5>
    </div>
    </div>
</div>

<div class="w3-quarter">
  <div class="w3-card w3-white" style="margin-top: 10px;">
      <a href="Study/study3.html">
      <img src="../images/member1/2.png" style="width:100%;height: 20rem;">
      </a>
      <div class="w3-container">
      <h3>過酸化水素適用型エアロスパイクノズルの外部加熱による推力向上に関する研究</h3>
      <h4>棟長　光太朗</h4>
      <h5>エアロスパイクノズル、過酸化水素、外部加熱、シュリーレン</h5>
      </div>
      </div>
</div>
<div class="w3-quarter">
    <div class="w3-card w3-white" style="margin-top: 10px;">
        <a href="Study/study4.html">
        <img src="../images/member3/IMG_8405.JPG" style="width:100%;height: 20rem;">
        </a>
        <div class="w3-container">
        <h3>空気吸い込み式MPDスラスタの多目的最適化に関する研究</h3>
        <h4>板倉　宙士</h4>
        <h5>電気推進ロケット、電磁流体シミュレーション、MPDスラスター、低軌道ミッション、宇宙エレベータ</h5>
        </div>
        </div>
</div>
</div>
<div class="w3-row-padding w3-padding-64 w3-theme-l2" id="work">
  <div class="w3-quarter">
    <div class="w3-card w3-white" style="margin-top: 10px;">
        <a href="Study/study5.html">
        <img src="../images/member4/1.jpg" style="width:100%;height: 20rem;">
        </a>
        <div class="w3-container">
        <h3>ロケットベース複合サイクルエンジンの研究</h3>
        <h4>福澤　慧</h4>
        <h5>ロケットベース複合サイクルエンジン、燃焼、極超音速流れ、CFD</h5>
        </div>
        </div>
</div>
<div class="w3-quarter">
  <div class="w3-card w3-white" style="margin-top: 10px;">
      <a href="Study/study6.html">
      <img src="../images/member5/1.jpg" style="width:100%;height: 20rem;">
      </a>
      <div class="w3-container">
      <h3>磁気ノズルによるプラズマ加速と制御の数値解析手法に関する研究</h3>
      <h4>宮脇　彰梧</h4>
      <h5>Plasma, MHD, Simulation, Magnetic nozzle, Laser fusion</h5>
      </div>
      </div>
</div>
</div>

<!-- News Row -->
<div class="w3-row-padding w3-padding-64 w3-theme-l3" id="work">

<div class="w3-quarter">
<h2>ニュース</h2>
<p>研究室の日常</p>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white" style="margin-top: 10px;">
    <a href="article/article1.html">
  <img src="../images/Lab/IEPC/IMG_8429.JPG" style="width:100%;height: 20rem;">
  </a>
  <div class="w3-container">
  <h3>学会：IEPC2024 (France)</h3>
  <h4>フランス</h4>
  </div>
  </div>
</div>

</div>

<!-- Contact Container -->
<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <div class="w3-row">
    <div class="w3-col m5">
    <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contact Us</span></div>
      <h3>〒921-8501　石川県野々市市扇が丘7-1</h3>
      <p>7-1 Ougigaoka, Nonoichi, Ishikawa, 921-8501 Japan</p>
      <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>  Ishikawa, Japan</p>
      <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>　moriarty'at'neptune.kanazawa-it.ac.jp</p>
    </div>
  </div>
</div>

<script src="js/script.js"></script>

</body>
</html>
