<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>メンバー紹介　福澤　慧</title>
</head>
<body>
  <div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align">
     <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
     <a href="../index.html" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
     <a href="lab.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Lab</a>
     <a href="member.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Member</a>
     <a href="http://192.168.0.219" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Blog(Lab only)</a>
    </div>
   </div>
    <div class="header">
        <h2>福澤　慧</h2>
      </div>
      
      <div class="row">
        <div class="leftcolumn">
          <div class="card">
            <h2>自己紹介</h2>
            <div>
              <img src="../images/member4/7.jpg" alt="Sample">
            </div>
            <p>神奈川県川崎市出身</p>
            <p>小松空港によく出現します。</p>
            <p>趣味は写真とマラソンです。</p>
          </div>
          <div class="card">
            <h2>研究内容</h2>
            <div>
              <img src="../images/member4/2.jpg" alt="研究">
            </div>
            <p>ロケットベース複合サイクルエンジンの研究</p>
            <p>燃焼実験や、三次元解析は大規模なお金や設備が必要である。</p>
            <p>そこで、二次元簡易モデルで燃焼解析を行うことで低コストで燃焼実験の予測を目指す。</p>
          </div>
          <div class="card">
            <h2>受賞歴</h2>
            <h5>
              <ul>
               <li>第31回衛星設計コンテスト（2023） 天文学会賞受賞</li>
              </ul>
          </h5>
            <div>
              <img src="../images/member4/3.jpg" alt="学会" style="width: 100%;height: 40rem;">
            </div>
          </div>
        </div>
        <div class="rightcolumn">
          <div class="card">
            <h2>About Me</h2>
            <div>
              <img src="../images/member4/6.JPG" alt="Sample">
            </div>
          </div>

          <div class="card">
            <h3>Follow Me</h3>
            <li><a href="https://www.instagram.com/fukukei520/">Instagram</a></li>
          </div>
        </div>
      </div>
</body>
</html>