<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-3.7.1.min.js"></script>
    <title>メンバー</title>
</head>
<body style="background-image: url('../images/Lab/File\ 2.jpeg'); background-repeat: no-repeat; background-size: cover;">
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align">
         <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
         <a href="../index.html" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
         <a href="lab.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Lab</a>
         <a href="member.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Member</a>
         <a href="http://192.168.0.219" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Blog(Lab only)</a>
        </div>
    </div>

    <h1 style="text-align: center;">森合研究室　メンバー</h1>

    <h2>Teacher</h2>
    <div class="row">
        <div class="div0"style="margin-left: auto;margin-right: auto;width: 50%;">
            <div class="card">
                <a href="https://kitnet.jp/laboratories/labo0225/index.html">
                <div><img src="../images/Teacher/IMG_8027.jpg" alt="Sample" style="width: 100%;height: 600px;margin-left: auto;margin-right: auto;"></div>
                </a>
                <h2>森合秀樹</h2>
            </div>
    </div>

    <h2>Student</h2>
    <div class="row">
        <div class="parent">
            <div class="div1">
                <div class="card">
                    <a href="member1.html">
                    <div><img src="../images/member2/S__25124867.jpg" alt="Sample" style="width: 100%;height: 500px;"></div>
                    </a>
                    <h2>井口　小太郎</h2>
                    <h5>平和</h5>
                </div>
            </div>
            <div class="div2">
                <div class="card">
                    <a href="member2.html">
                    <div><img src="../images/member1/IMG_5550.JPG" alt="Sample"  style="width: 100%;height: 500px;"></div>
                    </a>
                    <h2>棟長　光太郎</h2>
                    <h5>一期一会</h5>
                </div>
            </div>
            <div class="div3">
                <div class="card">
                    <a href="member3.html">
                    <div><img src="../images/member3/3.jpg" alt="Sample"  style="width: 100%;height: 500px;"></div>
                    </a>
                    <h2>板倉　宙士</h2>
                    <h5>It's a piece of cake !</h5>
                </div>
            </div>
            <div class="div4">
                <div class="card">
                    <a href="member4.html">
                    <div><img src="../images/member4/4.JPG" alt="Sample"  style="width: 100%;height: 500px;"></div>
                    </a>
                    <h2>福澤　慧</h2>
                    <h5>（国家の）犬になります</h5>
                </div>
            </div>
            <div class="div5">
                <div class="card">
                    <a href="member5.html">
                    <div><img src="../images/member5/5.jpg" alt="Sample"  style="width: 100%;height: 500px;"></div>
                    </a>
                    <h2>宮脇　彰梧</h2>
                    <h5>宇宙人見つけます</h5>
                </div>
            </div>
            <div class="div6">
                <div class="card">
                    <a href="member6.html">
                    <div><img src="../images/member6/1.JPG" alt="Sample" style="width: 100%;height: 500px;"></div>
                    </a>
                    <h2>江坂　柊平</h2>
                    <h5>金沢りんご高い</h5>
                </div>
            </div>
            <div class="div7">
                <div class="card">
                    <a href="member7.html">
                    <div><img src="../images/member7/1.jpeg" alt="Sample"  style="width: 100%;height: 500px;"></div>
                    </a>
                    <h2>徳井　彩香</h2>
                    <h5>ミニマリスト目指してます</h5>
                </div>
            </div>
        </div>
    </div>
</body>
</html>