<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>tokui sayaka</title>
</head>
<body>
  <div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align">
     <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
     <a href="../index.html" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
     <a href="lab.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Lab</a>
     <a href="member.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Member</a>
     <a href="http://192.168.0.219" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Blog(Lab only)</a>
    </div>
   </div>
    <div class="header">
        <h2>徳井　彩香</h2>
      </div>
      
      <div class="row">
        <div class="leftcolumn">
          <div class="card">
            <h2>自己紹介</h2>
            <div>
              <img src="../images/member7/2.jpeg" alt="自己紹介写真" style="width: 50%;height: 40rem;">
            </div>
            <p>1年の徳井彩香です。兵庫県出身で大学に入学するまでは大阪に住んでいました。</p>
            <p>趣味はジェットコースターとかの絶叫マシンに乗ることです。</p>
            <p>先輩や先生に色々教えて貰いながら楽しんで勉強してます！</p>
          </div>
          <div class="card">
            <h2>研究内容</h2>
            <div>
              <img src="../images/member7/3.png" alt="Sample" style="width: 50%;height: 50%;">
            </div>
            <p>低価格なロケットを開発することを目標に勉強しています。</p>
            <p>これからSCFLOWで解析した結果をRocketCEAと比較をしていきたいと思っています。</p>
          </div>
          <div class="card">
            <h2>PHOTO</h2>
            <div>
              <img src="../images/member7/IMG_1589.JPG" alt="Sample" style="width: 50%;height: 40rem;">
            </div>
            <p>some text</p>
          </div>
        </div>
        <div class="rightcolumn">
          <div class="card">
            <h2>About Me</h2>
            <div>
              <img src="../images/member7/1.jpeg" alt="Sample">
            </div>
          </div>
        </div>
      </div>
</body>
</html>