<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>メンバー紹介　板倉　宙士</title>
</head>
<body>
  <div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align">
     <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
     <a href="../index.html" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
     <a href="lab.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Lab</a>
     <a href="member.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Member</a>
     <a href="http://192.168.0.219" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Blog(Lab only)</a>
    </div>
   </div>
    <div class="header">
        <h2>板倉　宙士</h2>
      </div>
      
      <div class="row">
        <div class="leftcolumn">
          <div class="card">
            <h2>自己紹介</h2>
            <div>
              <img src="../images/member3/1.jpg" alt="むっちゃん" style="width: 50%;height: 50%;">
            </div>
            <p>皆様ごきげんよう。</p>
            <p>森合研修士1年の板倉です。</p>
            <p>宇宙推進の研究を全力で楽しんでいます。</p>
            <p>趣味は音楽鑑賞と格闘技観戦です。</p>
          </div>
          <div class="card">
            <h2>研究内容</h2>
            <div>
              <img src="../images/member3/2.jpg" alt="MPDスラスタ" style="width: 50%;height: 50%;">
            </div>
            <p>空気吸い込み式MPDスラスタの多目的最適化に関する研究</p>
            <p></p>
          </div>
          <div class="card">
            <h2>学会</h2>
            <div>
              <img src="../images/member3/IMG_8405.JPG" alt="学会写真" style="width: 50%;height: 50%;">
            </div>
            <ul>
              <li>宇宙科学技術連合講演会2023</li>
              <li>第63回航空原動機・宇宙推進講演会（札幌2024）</li>
              <li>IEPC2024(France)</li>
            </ul>
          </div>
        </div>
        <div class="rightcolumn">
          <div class="card">
            <h2>About Me</h2>
            <div>
              <img src="../images/member3/3.jpg" alt="顔写真" style="width: 50%;height: 50%;">
            </div>
          </div>
          <div class="card">
            <h3>Follow Me</h3>
            <li><a href="https://www.instagram.com/hrs_1213/">Instagram</a></li>
          </div>
        </div>
      </div>
</body>
</html>