<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>メンバー紹介　棟長　光太郎</title>
</head>
<body>
  <div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align">
     <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
     <a href="../index.html" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
     <a href="lab.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Lab</a>
     <a href="member.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Member</a>
     <a href="http://192.168.0.219" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Blog(Lab only)</a>
    </div>
   </div>
    <div class="header">
        <h2>棟長　光太郎</h2>
      </div>
      
      <div class="row">
        <div class="leftcolumn">
          <div class="card">
            <h2>自己紹介</h2>
            <div>
              <img src="../images/member1/DSC_0088.JPG" alt="Sample" style="width: 50%;height: 40rem">
            </div>
            <p>出身地：栃木県</p>
            <p>趣味：ゲーム、雑学集め（宇宙、科学関係）</p>
          </div>
          <div class="card">
            <h2>研究内容</h2>
            <div>
              <img src="../images/member1/1.png" alt="Sample" style="width: 50%;height: 50%;">
            </div>
            <p>エアロスパイクノズルについての研究</p>
            <p>構造上高温に弱いエアロスパイクノズルの流れを、外部から加熱させることで推進性
              能を向上させることを目的に、研究を行っている。</p>
            <p>現状では加熱により推力は増加するが、増加量が小さい。加熱による推力増加量を増
              やすことが現在の課題である。</p>
          </div>
          <div class="card">
            <h2>学会</h2>
            <div>
              <img src="../images/member1/IMG_5569.JPG" alt="Sample" style="width: 50%;height: 50%;">
            </div>
            <ul>
              <li>IAC2023・宇科連 2022（熊本）・第 55 回流体力学講演会（東京）</li>
              <li>第 63 回航空原動機・宇宙推進講演会(札幌.2024)</li>
              <li>IEPC2024 (France)</li>
            </ul>
          </div>
        </div>
        <div class="rightcolumn">
          <div class="card">
            <h2>About Me</h2>
            <div>
              <img src="../images/member1/IMG_5550.JPG" alt="顔写真" style="width: 50%;height: 50%;">
            </div>
          </div>
        </div>
      </div>
</body>
</html>