<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>メンバー紹介　井口　小太郎</title>
</head>
<body>
  <div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align">
     <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
     <a href="../index.html" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
     <a href="lab.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Lab</a>
     <a href="member.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Member</a>
     <a href="http://192.168.0.219" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Blog(Lab only)</a>
    </div>
   </div>
    <div class="header">
        <h2>井口　小太郎</h2>
      </div>
      
      <div class="row">
        <div class="leftcolumn">
          <div class="card">
            <h2>自己紹介</h2>
            <div>
              <img src="../images/member2/IMG_1817.jpg" alt="Sample" style="width: 50%;height: 50%;">
            </div>
            <p>千葉県浦安市出身</p>
            <p>趣味：ラグビー</p>
            <p>スペインに行ってみたいです。</p>
          </div>
          <div class="card">
            <h2>研究内容</h2>
            <div>
              <img src="../images/member2/1.png" alt="Sample" style="width: 50%;height: 50%;">
            </div>
            <p>極超音速エンジンの開発には大規模な試験やコストがかかり、CFD解析が重要だが、現状は技術的な困難や計算時間の長さが課題である。</p>
            <p>本研究では、超音速燃焼流れ場の計算を数時間以内に完了し、多目的最適化に対応可能なシミュレーション手法の開発を目指す。</p>
          </div>
          <div class="card">
            <h2>学会</h2>
            <div>
              <img src="../images/member2/IMG_5688.JPG" alt="Sample" style="width: 50%;height: 50%;">
            </div>
            <ul>
              <li>第５４、５５回流体力学講演会</li>
              <li>第60回燃焼シンポジウム</li>
              <li>AJCPP2023</li>
              <li>IAC2023</li>
              <li>第63回航空原動機・宇宙推進講演会（札幌2024）</li>
            </ul>
          </div>
        </div>
        <div class="rightcolumn">
          <div class="card">
            <h2>About Me</h2>
            <div>
              <img src="../images/member2/S__25124867.jpg" alt="Sample" style="width: 50%;height: 50%;">
            </div>
          </div>
        </div>
      </div>
</body>
</html>