<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>メンバー紹介　江坂　柊平</title>
</head>
<body>
  <div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align">
     <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
     <a href="../index.html" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
     <a href="lab.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Lab</a>
     <a href="member.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Member</a>
     <a href="http://192.168.0.219" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Blog(Lab only)</a>
    </div>
   </div>
    <div class="header">
        <h2>江坂　柊平</h2>
      </div>
      
      <div class="row">
        <div class="leftcolumn">
          <div class="card">
            <h2>自己紹介</h2>
            <div>
              <img src="../images/member6/IMG_1208.jpg" alt="Sample" style="width: 50%;height: 50%;">
            </div>
            <p>日ハムファン　/　シャトルラン96回　/　滑り止めで青森山田受けました</p>
          </div>
          <div class="card">
            <h2>研究内容</h2>
            <div>
              <img src="../images/member6/S__2834537.jpg" alt="Sample" style="width: 50%;height: 50%;">
            </div>
            <p>NasaCEAを用いた性能解析・物性値近似式作成</p>
          </div>
          <div class="card">
            <h2>自由欄</h2>
            <p>なんか書きます</p>
          </div>
            
        </div>
        <div class="rightcolumn">
          <div class="card">
            <h2>About Me</h2>
            <div>
              <img src="../images/member6/1.JPG" alt="Sample">
            </div>
          </div>
         
          <div class="card">
            <h3>Follow Me</h3>
            <li><a href="https://www.instagram.com/tetetete101010?utm_source=qr">Instagram</a></li>
          </div>
        </div>
      </div>
</body>
</html>